@import '_utils';
@import '../image/sprite/_example';

.chrome {
    @include sprite($example-chrome);
}
.ie {
    @include sprite($example-ie);
}
.firefox {
    @include sprite($example-firefox);
}

nav {
    text-align: center;
    .active {
        font-weight: bold;
        text-decoration: none;
    }
}
