@import '_utils';
@import '../image/sprite/_example';

.chrome {
    @include example-sprite(chrome);
}
.ie {
    @include example-sprite(ie);
}
.firefox {
    @include example-sprite(firefox);
}

nav {
    text-align: center;
    .active {
        font-weight: bold;
        text-decoration: none;
    }
}
