@import "compass";

$test-img-layout: smart;
@import "test-img/*.png";

$bgc: #04fbfb;

body{
	background-color: $bgc;
	.test-img{
		@include test-img-sprite(chrome);
	    width: test-img-sprite-width(chrome);
	    height: test-img-sprite-height(chrome);
	}
}